*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    #nav{
        background-color: #006064 ;
        position: absolute;
        width: 100%;
        top: -100px;
        transition: ease-out 1s;
    }
    #nav nav ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
    }
    #nav nav ul li{
        margin-right: 20px;
    }
    #nav nav ul li a{
        font-family: Arial;
        font-size: 10pt;
        text-decoration: none;
        color:azure
    }
    #buscar{
        width: 500px;
        margin-right: 10px;
        padding: 5px;
        background-color: antiquewhite;
        border:0px;
        outline: none;
    }
    button{
        padding: 5px;
        border: 0px;
        background-color:aquamarine;
        cursor: pointer;
        width: 100px;
        color:black
    
    }
    #fechar{
        color: rgb(255, 252, 252);
        text-decoration: none;
        position: absolute;
        right: 10px;
        font-size: 20pt;
        font-family: Arial;
       
    }
    #menu{
        text-decoration: none;
        color: green;
        font-size: 20pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        margin-top: 10px;
        margin-left: 10px;
        transition: ease 0.5s;
    }
    #menu:hover{
        margin-left: 15pt;
        color: lime;
        
    }
    #listar,#resultado,#inserir{
        width: 80vw;
        height: 100vw;
        border:1px solid silver;
        margin: 150px auto
    }